@model List<ComiteAgua.ViewModels.Catalogos.DescuentosVariosViewModel>
@{
    ViewBag.Title = "Descuento Tercera Edad";
}
<br />
@*Breadcrumb*@
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a>Descuentos</a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-12 text-right">
        <a href="@Url.Action("DescuentosVariosAdministracion","Catalogos", new { tipoDescuentoId = ViewBag.TipoDescuentoId })" class="btn btn-success active" role="button" aria-pressed="true" title="Nuevo"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo</a>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="text-center">
            <h4><label>@ViewBag.TituloLabel</label></h4>
        </div>
        <table id="descuentosVarios" class="table table-hover table-bordered table-sm" style="width: 100%">
            <thead class="thead-dark text-center">
                <tr>
                    <th>Tipo Descuento</th>
                    <th>Porcentaje</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>@item.TipoDescuento</td>
                        <td>@item.Porcentaje</td>
                    </tr>
                }

            </tbody>
            <tfoot class="text-center">
                <tr>
                    <th>Tipo Descuento</th>
                    <th>Porcentaje</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@section scripts
{
    <script>
            $(document).ready(function () {
                $('#descuentosVarios').DataTable();
            });
    </script>
}
