@model ComiteAgua.ViewModels.Constancias.ConstanciasViewModel
@{
    ViewBag.Title = Model.Titulo;
    ViewBag.UrlRetorno = Url.Action("Index", "Home");
}

<br />

<form method="post" id="FormFiltros">
    <div class="col-md-6 mr-auto ml-auto">
        <div class="card">
            <div class="card-body">
                @*Folio Filtro*@
                <div class="form-group row">
                    @Html.LabelFor(x => x.FolioFiltro, new { @for = "FolioFiltro", @class = "col-md-3 offset-md-1 col-form-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.FolioFiltro, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                @*Propietario Filtro*@
                <div class="form-group row">
                    @Html.LabelFor(x => x.PropietarioFiltro, new { @for = "PropietarioFiltro", @class = "col-md-3 offset-md-1 col-form-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.PropietarioFiltro, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
                @*Calle Filtro*@
                <div class="form-group row">
                    @Html.LabelFor(x => x.CalleFiltro, new { @for = "CalleFiltro", @class = "col-md-3 offset-md-1 col-form-label" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.CalleFiltro, new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-3 offset-md-2 text-center">
                        <button id="BuscarButton" type="button" class="btn btn-success">Buscar</button>
                    </div>
                    <div class="col-md-3 offset-md-2 text-center">
                        <button id="LimpiarButton" type="button" class="btn btn-primary">Limpiar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<br />

<div id="ConsultaNoAdeudoTable"></div>
<!--MODAL CAPTURA COSTO-->
<form id="formCosto">
    @Html.Hidden("tomaId", Model.TomaId)

    <div class="modal fade" id="CostoModal" tabindex="-1" role="dialog" aria-labelledby="costoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="costoModalLabel">Costo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="Costo" class="col-form-label col-md-2">Costo:</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(d => d.Costo, new { @class = "form-control validaCosto moneda" })
                            @Html.ValidationMessageFor(m => m.Costo, null, new { @class = "badge badge-pill badge-danger" })
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="CancelarButton" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button id="GuardarButton" type="button" class="btn btn-primay">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>
@section scripts
{
    <script>

        $(document).ready(function () {
            
            //variables globales
            var folioFiltro;
            var propietarioFiltro;
            var calleFiltro;

            $("#BuscarButton").click(function () {
                BloquearProcesando();
                ObtenerValoresFiltros();
                if (folioFiltro.length == 0 && propietarioFiltro.length == 0 && calleFiltro.length == 0)
                {
                    toastr.warning(
                        "Debe ingresar al menos un filtro",
                        "Alerta",
                        {
                            closeButton: true,
                            progressBar: true,
                            positionClass: "toast-bottom-full-width"
                        });
                    $.unblockUI();
                    return;
                }//if (folioFiltro.length == 0 && propietarioFiltro.length == 0 && calleFiltro.length == 0)

                $.ajax({
                    type: 'get',
                    cache: false,
                    url: '@Url.Action("_ConstanciaNoAdeudoConsulta", "Constancias")',
                    data:
                    {
                        folio: folioFiltro,
                        propietario: propietarioFiltro,
                        calle: calleFiltro
                    },
                    success: function (data) {
                        $("#ConsultaNoAdeudoTable").html(data);
                        $('#tomas').DataTable({
                            "filter": false
                        });
                        div = document.getElementById('tomas_length');
                        div.style.display = 'none';
                        $.unblockUI();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Error - ' + errorThrown);
                    }
                });//$.ajax({
                $("#LimpiarButton").click(function () {
                    LimpiarFiltros();
                });//$("#LimpiarButton").click(function () {
            });//$("#BuscarButton").click(function () {
            function ObtenerValoresFiltros() {
                folioFiltro = $("#FolioFiltro").val().trim();
                propietarioFiltro = $("#PropietarioFiltro").val().trim();
                calleFiltro = $("#CalleFiltro").val().trim();
            }//function ObtenerValoresFiltros() {
            function LimpiarFiltros() {
                $("#FolioFiltro").val("");
                $("#PropietarioFiltro").val("");
                $("#CalleFiltro").val("");
                //$("#ConsultaNoAdeudoTable").html("");
                var table = $('#tomas').DataTable();
                table
                    .clear()
                    .draw();
            }//function LimpiarFiltros() {
            $.validator.addMethod("validaCosto", function () {
                return $("#Costo").val().trim().length > 0;
            }, "El costo es requerido.");//$.validator.addMethod("validaCosto", function () {
            $("#GuardarButton").click(function () {
                var isvalid = $("#formCosto").valid();
                if (isvalid) {
                    var token = new Date().getTime();
                    blockUIForDownload(token);
                    var tomaId = document.getElementById('tomaId').value;
                    var costo = document.getElementById('Costo').value;
                    window.location = "@Url.Action("DescargarConstanciaNoAdeudo", "Constancias")?tomaId=" + tomaId + "&costo=" + costo + "&downloadToken=" + token;
                    $('#CostoModal').modal('hide');
                    document.getElementById('Costo').value = "";
                    $("#ImprimirReciboButton").removeClass('disabled');
                }           
            });//$("#GuardarButton").click(function () {
            $("#CancelarButton").click(function () {
                document.getElementById('Costo').value = "";
            });
            var fileDownloadCheckTimer;
            function blockUIForDownload(token) {
                BloquearProcesando();
                fileDownloadCheckTimer = window.setInterval(function () {
                    var cookieValue = $.cookie("fileDownloadToken");
                    if (cookieValue == token)
                        finishDownload();
                }, 1000);
            }

            function finishDownload() {
                window.clearInterval(fileDownloadCheckTimer);
                $.removeCookie('fileDownloadToken'); //clears this cookie value
                $.unblockUI();
            }
        });
    </script>
}


