@model ComiteAgua.ViewModels.PeriodosPagoViewModel

@{

}

@using (Html.BeginForm("GuardarPeriodoPago", "Tomas", FormMethod.Post, new { role = "form" }))
{

    @Html.HiddenFor(m => m.TomaId)
    @Html.HiddenFor(m => m.PropietarioId)

    @*Periodos*@
    <div class="form-group row">
        @Html.LabelFor(x => x.MesAnoInicio, new { @for = "MesAnoInicio", @class = "col-md-2 col-form-label ml-auto" })
        <div class="col-sm-6 mr-auto">
            @Html.TextBoxFor(d => d.MesAnoInicio, new { @class = "form-control", @type = "month" })
            @Html.ValidationMessageFor(m => m.MesAnoInicio, null, new { @class = "badge badge-pill badge-danger" })
        </div>
    </div>

    // Button
    <div class="row">
        <div class="mr-auto ml-auto">
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </div>

}