@model ComiteAgua.ViewModels.Tomas.PropietariosPersonaFisicaViewModel

<div class="row">
    <div class="col-md-12 text-right">    
        <a href="#" id="PersonaMoralButton" class="btn btn-info active" role="button" aria-pressed="true" title="Eliminar">Cambiar a Moral</a>    
    </div>
</div>
<form id="PropietarioForm">
    @Html.HiddenFor(m => m.PersonaId)
    @Html.HiddenFor(m => m.PropietarioId)
    @Html.HiddenFor(m => m.CambioPropietario)
    @Html.Hidden("downloadToken", Model.DownloadToken)

    @*Nombre*@
    <div class="form-group row">
        @Html.LabelFor(x => x.Nombre, new { @for = "Nombre", @class = "col-md-2 col-form-label ml-auto" })
        <div class="col-sm-6 mr-auto">
            @Html.TextBoxFor(d => d.Nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Nombre, null, new { @class = "badge badge-pill badge-danger" })
        </div>
    </div>

    @*Apellido Paterno*@
    <div class="form-group row">
        @Html.LabelFor(x => x.ApellidoPaterno, new { @for = "ApellidoPaterno", @class = "col-md-2 col-form-label ml-auto" })
        <div class="col-sm-6 mr-auto">
            @Html.TextBoxFor(d => d.ApellidoPaterno, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ApellidoPaterno, null, new { @class = "badge badge-pill badge-danger" })
        </div>
    </div>

    @*Apellido Materno*@
    <div class="form-group row">
        @Html.LabelFor(x => x.ApellidoMaterno, new { @for = "ApellidoMaterno", @class = "col-md-2 col-form-label ml-auto" })
        <div class="col-sm-6 mr-auto">
            @Html.TextBoxFor(d => d.ApellidoMaterno, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ApellidoMaterno, null, new { @class = "badge badge-pill badge-danger" })
        </div>
    </div>

    @*Fecha Nacimiento*@
    <div class="form-group row">
        @Html.LabelFor(x => x.FechaNacimiento, new { @for = "FechaNacimiento", @class = "col-md-2 col-form-label ml-auto" })
        <div class="col-sm-6 mr-auto">
            @Html.TextBoxFor(d => d.FechaNacimiento, new { @class = "form-control validaFechaNacimiento", @type = "date" })
            @Html.ValidationMessageFor(m => m.FechaNacimiento, null, new { @class = "badge badge-pill badge-danger" })
        </div>
    </div>

    @*Estado Civil*@
    <div class="form-group row">
        @Html.LabelFor(x => x.EstadoCivilId, new { @for = "EstadoCivilId", @class = "col-md-2 col-form-label ml-auto" })
        <div class="col-sm-6 mr-auto">
            @Html.DropDownListFor(m => m.EstadoCivilId, new SelectList(Model.EstadosCiviles, "EstadoCivilId", "Nombre"), "Seleccione una opción", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EstadoCivilId, null, new { @class = "badge badge-pill badge-danger" })
        </div>
    </div>

    @*Teléfono*@
    <div class="form-group row">
        @Html.LabelFor(x => x.Telefono, new { @for = "Telefono", @class = "col-md-2 col-form-label ml-auto" })
        <div class="col-sm-6 mr-auto">
            @Html.TextBoxFor(d => d.Telefono, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Telefono, null, new { @class = "badge badge-pill badge-danger" })
        </div>
    </div>

    @*Correo Electrónico*@
    <div class="form-group row">
        @Html.LabelFor(x => x.CorreoElectronico, new { @for = "CorreoElectronico", @class = "col-md-2 col-form-label ml-auto" })
        <div class="col-sm-6 mr-auto">
            @Html.TextBoxFor(d => d.CorreoElectronico, new { @class = "form-control minusculas" })
            @Html.ValidationMessageFor(m => m.CorreoElectronico, null, new { @class = "badge badge-pill badge-danger" })
        </div>
    </div>

    @*RFC*@
    <div class="form-group row">
        @Html.LabelFor(x => x.Rfc, new { @for = "Rfc", @class = "col-md-2 col-form-label ml-auto" })
        <div class="col-sm-6 mr-auto">
            @Html.TextBoxFor(d => d.Rfc, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Rfc, null, new { @class = "badge badge-pill badge-danger" })
        </div>
    </div>
    @if (Model.CambioPropietario)
    {
        @*COSTO*@
        <div class="form-group row">
            @Html.LabelFor(x => x.CostoCambioPropietario, new { @for = "CostoCambioPropietario", @class = "col-md-2 col-form-label ml-auto" })
            <div class="col-sm-6 mr-auto">
                @Html.TextBoxFor(d => d.CostoCambioPropietario, new { @class = "form-control validaCosto moneda" })
                @Html.ValidationMessageFor(m => m.CostoCambioPropietario, null, new { @class = "badge badge-pill badge-danger" })
            </div>
        </div>
    }


    @*Button*@
    <div class="row">
        @if (Model.CambioPropietario)
        {

            <div class="col-md-3 offset-md-2 text-center">
                <button id="GuardarCambioPropietarioButton" type="button" class="btn btn-success">Guardar</button>
            </div>
            <div class="col-md-2 offset-md-2 text-center">
                <button id="ImprimirButton" type="button" class="btn btn-primary" disabled>Imprimir recibo</button>
            </div>

        }
        else
        {
            <div class="mr-auto ml-auto">
                <button id="GuardarEditarPropietarioButton" type="button" class="btn btn-success">Guardar</button>
            </div>
        }
    </div>
</form>
@*}*@
<script>
    var reciboIdValue;
    $(document).ready(function () {   
        $("button[disabled=disabled]").removeClass('btn-primary').addClass('grisClaro');
        $.validator.addMethod("validaCosto", function () {
            return $("#CostoCambioPropietario").val().trim().length > 0;
        }, "El costo es requerido.");//$.validator.addMethod("validaCosto", function () { 
    });
    $("#ImprimirButton").click(function () {
        BloquearProcesando();
        href = "~/Print/ReciboSistema.aspx?reciboId=" + reciboIdValue + "";
        window.location = "@Url.Action("../Print/ReciboSistema.aspx")?reciboId=" + reciboIdValue;
    });//$("#ImprimirButton").click(function () {
    $("#GuardarCambioPropietarioButton").click(function () {
        if ($("#PropietarioForm").valid()) {
            var token = new Date().getTime();
            blockUIForDownload(token)
            blockForDownload();
            $("#ImprimirButton").prop('disabled', false);
            document.getElementById('downloadToken').value = token;

            window.location = "@Url.Action("GuardarPropietario", "Tomas")?" + $("#PropietarioForm").serialize();
        }
    });//$("#GuardarCambioPropietarioButton").click(function () {
    $("#GuardarEditarPropietarioButton").click(function () {
        if ($("#PropietarioForm").valid()) {
            window.location = "@Url.Action("GuardarPropietario", "Tomas")?" + $("#PropietarioForm").serialize();
        }
    });//$("#GuardarEditarPropietarioButton").click(function () {
    $("#PersonaMoralButton").click(function () {
        document.getElementById('propietarioMoral').style.display = 'block';
        document.getElementById('propietarioMoral-tab').style.display = 'block';
        document.getElementById('propietario').style.display = 'none';
        document.getElementById('propietario-tab').style.display = 'none';       
    });//$("#PersonaMoralButton").click(function () {
    var DownloadCheckTimer;
    function blockForDownload() {
        DownloadCheckTimer = window.setInterval(function () {
            reciboIdValue = $.cookie("reciboId");
            if (reciboIdValue != "" )
                finish();
        }, 1000);
    }//function blockForDownload() {
    function finish() {
        window.clearInterval(DownloadCheckTimer);
        toastr.success(
            "Guardado exitosamente",
            "Éxito",
            {
                closeButton: true,
                progressBar: true,
                positionClass: "toast-bottom-full-width"
            });
    }//function finish() {
</script>