@model ComiteAgua.ViewModels.Tomas.CorteViewModel

<style>
    .amarillo {
        background-color: gold;
    }
</style>

<div class="col-md-12">
    <div class="row">               
        <h6 class="text-center">
            Total Ingresos: <label id="TotalIngresosLabel"/>
        </h6>   
       
      
            @Html.HiddenFor(x => x.FechaConsulta)    
        <div class = "col-auto ml-auto">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button id="ImprimirButton" type="button" class="btn btn-secondary">Imprimir corte</button>
            </div>
        </div>
       

        <br />
    </div>
    <div class="row">
        <h6 class="text-center">Total Gastos: <label id="TotalGastosLabel" /></h6>
    </div>
    <div class="row">
        <h6 class="text-center">Total: <label id="TotalLabel" /></h6>
    </div>
</div>  


<div class="row">
    <div class="offset-md-1 col-md-10">

        <h4 class="text-center">Ingresos</h4>

        @if (Model.Pagos.Count > 0)
        {
            <table id="IngresosTable" class="table table-bordered table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">No</th>
                        <th scope="col">Concepto</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Pagos)
                    {
                        <tr class="@(!item.Activo ? "amarillo" : "")">
                            <td>@item.FechaAlta.ToString("dd-MM-yyyy")</td>
                            <td>@(item.TipoPago + "-" + item.NoRecibo.ToString()) @(!item.Activo ? "(Cancelado)" : "")</td>
                            <td>@item.ConceptoPago</td>
                            <td>@item.Total</td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                <strong>Alerta!</strong> No se encontraron registros.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="offset-md-1 col-md-10">

        <h4 class="text-center">Gastos</h4>

        @if (Model.Gastos.Count > 0)
        {
            <table id="GastosDataTable" class="table table-bordered table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Concepto</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Gastos)
                {
                        <tr>
                            <td>@item.FechaAlta.ToString("dd-MM-yyyy")</td>
                            <td>@item.Concepto</td>
                            <td>@item.Total</td>
                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                <strong>Alerta!</strong> No se encontraron registros.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    </div>
</div>

<script>
    $("#ImprimirButton")
        .click(function () {
            var token = new Date().getTime(); //use the current timestamp as the token value
            var fechaInicio = $("#FechaInicio").val();
            var fechaFin = $("#FechaFin").val();
                    blockUIForDownload(token);
            window.location = "@Url.Action("ImprimirCorte", "Tomas")?fechaInicio=" + fechaInicio + "&fechaFin=" + fechaFin + "&downloadToken=" + token ;
        });

    var fileDownloadCheckTimer;
    function blockUIForDownload(token) {
        BloquearProcesando();
        fileDownloadCheckTimer = window.setInterval(function () {
            var cookieValue = $.cookie("fileDownloadToken");
            if (cookieValue == token)
                finishDownload();
        }, 1000);
    }

    function finishDownload() {
        window.clearInterval(fileDownloadCheckTimer);
        $.removeCookie('fileDownloadToken'); //clears this cookie value
        $.unblockUI();
    }

    $(document).ready(function () {
        $('#IngresosTable').DataTable();
        $('#GastosDataTable').DataTable();
           
        document.getElementById("TotalIngresosLabel").innerText = '@(Model.TotalIngresos)';
        document.getElementById("TotalGastosLabel").innerText = '@(Model.TotalGastos)';
        document.getElementById("TotalLabel").innerText = '@(Model.Total)';
    });
</script>