@model ComiteAgua.ViewModels.Tomas.ConveniosAdministracionViewModel
@using ComiteAgua.Domain
@{
    ViewBag.Title = "Convenios";
}

<br />
@*Breadcrumb*@
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Regresar</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a>Convenios</a></li>
    </ol>
</nav>

@if (Model.Convenios.Count > 0)
{
    <table id="convenios" class="table table-hover table-bordered table-sm" style="width:100%">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col">Folio</th>
                <th scope="col">Propietario</th>
                <th scope="col">No Tarjeta</th>
                <th scope="col">Concepto</th>
                <th scope="col">Estatus</th>
                <th scope="col">Ver</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Convenios)
            {
                <tr>
                    <td scope="row" class="text-center">@item.Folio</td>
                    <td>@item.NombreCompleto</td>
                    <td class="text-center">@item.NoTarjeta</td>
                    <td>@item.ConceptoConvenio</td>
                    <td>@item.EstatusConvenio</td>
                    <td class="text-center"><a href='@Url.Action("ConceptoPago", "Tomas", new { tomaId = item.TomaId, conceptoPagoId = (int)ConceptosPagoDomain.ConceptosPagoDomainEnum.Convenio, convenioId = item.ConvenioId, urlRetorno = Url.Action("Convenios", "Tomas")})' title="Ver"><span class="fa fa-eye fa-lg azul"></span></a></td>
                </tr>
            }

        </tbody>
        <tfoot class="text-center">
            <tr>
                <th>Folio</th>
                <th>Propietario</th>
                <th>No Tarjeta</th>
                <th>Concepto</th>
                <th>Estatus</th>
                <th>Ver</th>
            </tr>
        </tfoot>
    </table>
}
else
{
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        <strong>Alerta!</strong> No se encontraron registros.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#convenios').DataTable();
        });
    </script>
}

