@model List<ComiteAgua.ViewModels.PeriodosPagoViewModel>

@{
    ViewBag.Title = "Historial de Pagos";
    ViewBag.UrlRetorno = @Url.Action("Index", "Home");
}
<style>
    .amarillo {
        background-color: gold;
    }
</style>
<br />

<table class="table">
    <thead class="thead-dark">
        <tr>          
            <th scope="col">No</th>
            <th scope="col">Total</th>
            <th scope="col">Periodo Inicio</th>
            <th scope="col">Periodo Fin</th>
            <th scope="col">Concepto de Pago</th>
            <th scope="col">Fecha de Pago</th>
        </tr>
    </thead>
    <tbody>  
        
        @foreach (var item in Model)
        {
            <tr class="@(!item.Activo ? "amarillo" : "")">
                <td>
                    @(item.TipoPago + "-" + item.NoRecibo.ToString()) @(!item.Activo ? "(Cancelado)" : "")
                </td>
                <td>@item.TotalPago</td>
                <td>@item.MesAnoInicio</td>
                <td>@item.MesAnoFin</td>
                <td>@item.ConceptoPago</td>
                <td>@item.FechaPago</td>
            </tr>
        }        
        
    </tbody>
</table>


