@model ComiteAgua.ViewModels.Tomas.RecibosViewModel
@using ComiteAgua.Domain
@{
    ViewBag.Title = "Recibos";
}
<br />
@*Breadcrumb*@
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a>Recibos</a></li>
    </ol>
</nav>

<div class="col-md-6 mr-auto ml-auto">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form" }))
    {
        <div class="card">
            <div class="card-body">
                @*NO RECIBO*@
                <div class="form-group row">
                    @Html.LabelFor(x => x.NoReciboFiltro, new { @for = "NoReciboFiltro", @class = "col-md-3 col-form-label offset-md-2" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(d => d.NoReciboFiltro, new { @class = "form-control", @type = "number" })
                    </div>
                </div>
                @*FOLIO TOMA*@
                <div class="form-group row">
                    @Html.LabelFor(x => x.FolioFiltro, new { @for = "FolioFiltro", @class = "col-md-3 col-form-label offset-md-2" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(d => d.FolioFiltro, new { @class = "form-control", @type = "number" })
                    </div>
                </div>
                @*FECHA*@
                <div class="form-group row">
                    @Html.LabelFor(x => x.FechaFiltro, new { @for = "FechaFiltro", @class = "col-md-3 col-form-label offset-md-2" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(d => d.FechaFiltro, new { @class = "form-control", @type = "date" })
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="offset-md-3 col-2 text-center">
                        <button id="BuscarButton" type="submit" formaction="BuscarRecibos" class="btn btn-success">Buscar</button>
                    </div>
                    <div class="offset-md-2 col-2 text-center">
                        <button id="LimpiarButton" type="submit" formaction="Limpiar" class="btn btn-primary">Limpiar</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<br />

@if (Model.Recibos.Count > 0)
{
    <table id="recibos" class="table table-hover table-bordered table-sm" style="width:100%">
        <thead class="thead-dark text-center">
            <tr>
                <th scope="col">No Recibo</th>
                <th scope="col">Folio</th>
                <th scope="col">Fecha</th>
                <th scope="col">Concepto</th>
                <th scope="col">Cancelar</th>
                <th scope="col">Ver</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Recibos)
            {
                <tr>
                    <td class="text-center" scope="row">@item.NoRecibo</td>
                    <td class="text-center">@(item.Pago.Toma != null ? item.Pago.Toma.Folio : (int?)null)</td>
                    <td class="text-center">@item.Fecha.ToString("dd/MM/yyyy")</td>
                    <td>@(item.Pago.ConceptoPagoId == (int)ConceptosPagoDomain.ConceptosPagoDomainEnum.Constancia ?
                                                      item.Pago.Constancia.TiposConstancia.Nombre :
                          item.Pago.ConceptoPagoId == (int)ConceptosPagoDomain.ConceptosPagoDomainEnum.Renta ?
                                                      item.Pago.Renta.TipoRenta.Nombre :
                          item.Pago.ConceptoPagoId == (int)ConceptosPagoDomain.ConceptosPagoDomainEnum.Otro ?
                                                       item.Pago.Recibo.Select(r => r.Concepto).FirstOrDefault():
                                                      item.Pago.ConceptoPago.Nombre)</td>
                    <td class="text-center"><a href="@Url.Action("CancelarRecibo","Tomas", new { reciboId = item.ReciboId, tomaId = item.Pago.TomaId})" title="Cancelar"><span class='@(item.Pago.Activo ? "fa fa-check fa-lg verde" : "fa fa-times fa-lg rojo")'></span></a></td>
                    <td class="text-center"><a href="~/Print/ReciboSistema.aspx?reciboId= + @item.ReciboId + &UrlOrigen= + @Model.UrlOrigen" title="Ver"><span class="fa fa-eye fa-lg azul"></span></a></td>
                </tr>
            }

        </tbody>
        <tfoot class="text-center">
            <tr>
                <th>No Recibo</th>
                <th>Folio</th>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Cancelar</th>
                <th>Ver</th>
            </tr>
        </tfoot>
    </table>
}
else
{
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        <strong>Alerta!</strong> No se encontraron registros.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#recibos').DataTable();
        });
    </script>
}


