@model ComiteAgua.ViewModels.Tomas.PagosViewModel
@using ComiteAgua.Domain

@{
    ViewBag.Title = "Pagos Suministro Agua";
    ViewBag.UrlRetorno = @Url.Action("Index", "Home");
}
<br />
<form id="PagoForm">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.TomaId)
    @Html.HiddenFor(m => m.ConvenioId)
    @Html.HiddenFor(m => m.ConceptoPagoId)
    @Html.HiddenFor(m => m.DescuentoTerceraEdadId)
    @Html.HiddenFor(m => m.DescuentoMadreSolteraId)

    <div class="col-md-9 mr-auto ml-auto">
        <div class="card">
            <div class="card-body">
                @if (Model.ConceptoPagoId != (int)ConceptosPagoDomain.ConceptosPagoDomainEnum.TomaNueva)
                {
                    @*Periodo inicio*@
                    <div class="form-group row">
                        @Html.LabelFor(x => x.MesAnoInicio, new { @for = "MesAnoInicio", @class = "col-md-2 col-form-label ml-auto" })
                        <div class="col-sm-6 mr-auto">
                            @Html.TextBoxFor(d => d.MesAnoInicio, new { @class = "form-control", @type = "month" })
                            @Html.ValidationMessageFor(m => m.MesAnoInicio, null, new { @class = "badge badge-pill badge-danger" })
                        </div>
                    </div>

                    @*Periodo fin*@
                    <div class="form-group row">
                        @Html.LabelFor(x => x.MesAnoFin, new { @for = "MesAnoFin", @class = "col-md-2 col-form-label ml-auto" })
                        <div class="col-sm-6 mr-auto">
                            @Html.TextBoxFor(d => d.MesAnoFin, new { @class = "form-control validaFechaFin", @type = "month" })
                            @Html.ValidationMessageFor(m => m.MesAnoFin, null, new { @class = "badge badge-pill badge-danger" })
                        </div>
                    </div>

                    @*Sub total*@
                    <div class="form-group row">
                        @Html.LabelFor(x => x.SubTotal, new { @for = "SubTotal", @class = "col-md-2 col-form-label ml-auto" })
                        <div class="col-sm-6 mr-auto">
                            @Html.TextBoxFor(d => d.SubTotal, new { @class = "form-control moneda" })
                            @Html.ValidationMessageFor(m => m.SubTotal, null, new { @class = "badge badge-pill badge-danger" })
                        </div>
                    </div>
                }
                @if (Model.ConceptoPagoId == (int)ConceptosPagoDomain.ConceptosPagoDomainEnum.TomaNueva)
                {
                    @*Precio Toma*@
                    <div class="form-group row">
                        @Html.LabelFor(x => x.PrecioToma, new { @for = "PrecioToma", @class = "col-md-2 col-form-label ml-auto" })
                        <div class="col-sm-6 mr-auto">
                            @Html.TextBoxFor(d => d.PrecioToma, new { @class = "form-control validaPrecioTomaNueva moneda", @id = "PrecioTomaTextBox" })
                            @Html.ValidationMessageFor(m => m.PrecioToma, null, new { @class = "badge badge-pill badge-danger" })
                        </div>
                    </div>
                }
                @*Descuento*@
                <div class="form-group row">
                    @Html.LabelFor(x => x.Descuento, new { @for = "Descuento", @class = "col-md-2 col-form-label ml-auto" })
                    <div class="col-sm-6 mr-auto">
                        @Html.TextBoxFor(d => d.Descuento, new { @class = "form-control validaDescuent moneda" })
                        @Html.ValidationMessageFor(m => m.Descuento, null, new { @class = "badge badge-pill badge-danger" })
                    </div>
                </div>

                <div id="DescuntoProntoPagoDiv" style="display: none">
                    @*Descuento pronto pago*@
                    <div class="form-group row">
                        @Html.LabelFor(d => d.DescuentoProntoPago, new { @for = "Descuento", @class = "col-md-2 col-form-label ml-auto" })
                        <div class="col-sm-6 mr-auto">
                            @Html.TextBoxFor(d => d.DescuentoProntoPago, new { @class = "form-control moneda", @id = "DescuentoProntoPagoTextBox" })
                            <span class="badge badge-info" id="DescuentoProntoPagoSpan"></span>
                        </div>
                    </div>
                </div>

                <div id="DescuntoTerceraEdadDiv" style="display: none">
                    @*Descuento Tercera Edad*@
                    <div class="form-group row">
                        @Html.LabelFor(d => d.DescuentoTerceraEdad, new { @for = "DescuentoTerceraEdad", @class = "col-md-2 col-form-label ml-auto" })
                        <div class="col-sm-6 mr-auto">
                            @Html.TextBoxFor(d => d.DescuentoTerceraEdad, new { @class = "form-control moneda" })
                            <span class="badge badge-info" id="DescuentoTerceraEdadSpan"></span>
                        </div>
                    </div>
                </div>

                <div id="DescuntoMadreSolteraDiv" style="display: none">
                    @*Descuento Madre Soltera*@
                    <div class="form-group row">
                        @Html.LabelFor(d => d.DescuentoMadreSoltera, new { @for = "DescuentoMadreSoltera", @class = "col-md-2 col-form-label ml-auto" })
                        <div class="col-sm-6 mr-auto">
                            @Html.TextBoxFor(d => d.DescuentoMadreSoltera, new { @class = "form-control moneda" })
                            <span class="badge badge-info" id="DescuentoMadreSolteraSpan"></span>
                        </div>
                    </div>
                </div>

                @*Total*@
                <div class="form-group row">
                    @Html.LabelFor(x => x.Total, new { @for = "Total", @class = "col-md-2 col-form-label ml-auto" })
                    <div class="col-sm-6 mr-auto">
                        @Html.TextBoxFor(d => d.Total, new { @class = "form-control moneda" })
                        @Html.ValidationMessageFor(m => m.Total, null, new { @class = "badge badge-pill badge-danger" })
                    </div>
                </div>

                @*Observaciones*@
                <div class="form-group row">
                    @Html.LabelFor(x => x.Observaciones, "Recibo Renglo 1", new { @for = "Observaciones", @class = "col-md-2 col-form-label ml-auto" })
                    <div class="col-sm-6 mr-auto">
                        @Html.TextBoxFor(d => d.Observaciones, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Observaciones, null, new { @class = "badge badge-pill badge-danger" })
                    </div>
                </div>

                @*Adicional*@
                <div class="form-group row">
                    @Html.LabelFor(x => x.Adicional, "Recibo Renglo 2", new { @for = "Adicional", @class = "col-md-2 col-form-label ml-auto" })
                    <div class="col-sm-6 mr-auto">
                        @Html.TextBoxFor(d => d.Adicional, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Adicional, null, new { @class = "badge badge-pill badge-danger" })
                    </div>
                </div>

                @*Renglon Adicional 1*@
                <div class="form-group row">
                    @Html.LabelFor(x => x.RenglonAdicional1, "Recibo Renglo 3", new { @for = "Adicional", @class = "col-md-2 col-form-label ml-auto" })
                    <div class="col-sm-6 mr-auto">
                        @Html.TextBoxFor(d => d.RenglonAdicional1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.RenglonAdicional1, null, new { @class = "badge badge-pill badge-danger" })
                    </div>
                </div>

                @*Renglon Adicional 2*@
                <div class="form-group row">
                    @Html.LabelFor(x => x.RenglonAdicional2, "Recibo Renglo 4", new { @for = "Adicional", @class = "col-md-2 col-form-label ml-auto" })
                    <div class="col-sm-6 mr-auto">
                        @Html.TextBoxFor(d => d.RenglonAdicional2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.RenglonAdicional2, null, new { @class = "badge badge-pill badge-danger" })
                    </div>
                </div>

                @*Renglon Adicional 3*@
                <div class="form-group row">
                    @Html.LabelFor(x => x.RenglonAdicional3, "Recibo Renglo 5", new { @for = "Adicional", @class = "col-md-2 col-form-label ml-auto" })
                    <div class="col-sm-6 mr-auto">
                        @Html.TextBoxFor(d => d.RenglonAdicional3, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.RenglonAdicional3, null, new { @class = "badge badge-pill badge-danger" })
                    </div>
                </div>

            </div>

            <div class="card-footer">
                @*Button*@
                <div class="row">
                    <div class="mr-auto ml-auto">
                        <button id="GuardarButton" type="button" class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

@section scripts
{

    <script>

        $(document).ready(function () {

            var descuentoPronto = null;
            if (@(Model.ConceptoPagoId) == @((int)ConceptosPagoDomain.ConceptosPagoDomainEnum.TomaNueva)) {
                $.validator.addMethod("validaPrecioTomaNueva", function () {
                    return $("#PrecioTomaTextBox").val().trim().length > 0;
                }, "El Precio de la toma es requerido.");
            }

            $.validator.addMethod("validaFechaFin", function () {
                return !($("#MesAnoFin").val() < $("#MesAnoInicio").val());
            }, "El Periodo Fin no pude ser menor al Periodo Inicio.");

            $("#Descuento").change(function () {
                var descuento = $(this).val().replace(/[^0-9\.]/g, '');

                @if (Model.ConceptoPagoId == (int)ConceptosPagoDomain.ConceptosPagoDomainEnum.TomaNueva)
                {
                    <Text>
                    var precioToma = $("#PrecioTomaTextBox").val().replace(/[^0-9\.]/g, '');
                    $("#Total").val(precioToma - descuento);
                    $.validator.addMethod("validaDescuent", function () {
                        return !(Number(descuento) > Number(precioToma));
                    }, "El descuento no puede ser mayor al precio de la toma.");
                    </Text>
                }
                else
                {
                    <Text>
                   
                    var SubTotal = $("#SubTotal").val().replace(/[^0-9\.]/g, '');
                    var descuentoProntoPago = $("#DescuentoProntoPagoTextBox").val().replace(/[^0-9\.]/g, '');
                    var descuentoTerceraEdad = $("#DescuentoTerceraEdad").val().replace(/[^0-9\.]/g, '');
                    var descuentoMadreSoltera = $("#DescuentoMadreSoltera").val().replace(/[^0-9\.]/g, '');

                $("#Total").val(SubTotal - descuento - descuentoProntoPago - descuentoTerceraEdad - descuentoMadreSoltera);

                    $.validator.addMethod("validaDescuent", function () {
                        return !(Number(descuento) > Number(SubTotal));
                    }, "El descuento no puede ser mayor al Sub Total.");
                    </Text>
                }
            });

            $("#MesAnoFin").change(function () {

                var periodoInicio = $("#MesAnoInicio").val();
                var periodoFin = $("#MesAnoFin").val();

                if ((periodoFin == "") || ($("#MesAnoFin").val() < $("#MesAnoInicio").val()))
                {    
                    LimpiarControles();
                    return;
                }
                $.ajax({
                    type: 'get',
                    dataType: 'json',
                    cache: false,
                    url: '@Url.Action("CalcularMontoPeriodo", "Tomas")',
                    data:
                    {
                        periodoInicio: periodoInicio,
                        periodoFin: periodoFin,
                        categoriaId: @Model.CategoriaId,
                        tomaId: @Model.TomaId
                    },
                    success: function (response) {
                        if (response.porcentajeresult == null) {
                            document.getElementById("DescuntoProntoPagoDiv").style.display = "none";
                            $("#Observaciones").val("");
                            document.getElementById("DescuentoProntoPagoSpan").textContent = "";
                            $("#DescuentoProntoPagoTextBox").val("");
                        } else {
                            $("#DescuentoProntoPagoTextBox").val(response.descuentoresult);
                            document.getElementById("DescuntoProntoPagoDiv").style.display = "block";
                            $("#Observaciones").val("Descuento de " + response.porcentajeresult + "% por pronto pago");
                            document.getElementById("DescuentoProntoPagoSpan").textContent = "Descuento de " + response.porcentajeresult + "% por pronto pago";
                            descuentoPronto = response.porcentajeresult;
                        }
                        if (response.terceraEdad) {
                            document.getElementById("DescuntoTerceraEdadDiv").style.display = "block";
                            $("#DescuentoTerceraEdad").val(response.cantidadPorcentajeTerceraEdad);
                            document.getElementById("DescuentoTerceraEdadSpan").textContent = "Descuento de " + response.porcentajeTerceraEdad + "% por tercera edad";
                            if (response.cantidadPorcentajeTerceraEdad == "0") {
                                $("#Adicional").val("");
                            } else {
                                $("#Adicional").val("Descuento de " + response.porcentajeTerceraEdad + "% por tercera edad");
                                document.getElementById("DescuentoTerceraEdadId").value = response.descuentoTerceraEdadId;
                            }                      
                        } else {
                            document.getElementById("DescuntoTerceraEdadDiv").style.display = "none";
                            $("#DescuentoTerceraEdad").val("");
                            document.getElementById("DescuentoTerceraEdadSpan").textContent = "";
                            $("#Adicional").val("");
                        }
                        if (response.madreSoltera) {
                            document.getElementById("DescuntoMadreSolteraDiv").style.display = "block";
                            $("#DescuentoMadreSoltera").val(response.cantidadPorcentajeMadreSoltera);
                            document.getElementById("DescuentoMadreSolteraSpan").textContent = "Descuento de " + response.porcentajeMadreSoltera + "% por madre soltera";
                            if (response.cantidadPorcentajeMadreSoltera == "0") {
                                $("#RenglonAdicional1").val("");
                            } else {
                                $("#RenglonAdicional1").val("Descuento de " + response.porcentajeMadreSoltera + "% por madre soltera");   
                                document.getElementById("DescuentoMadreSolteraId").value = response.descuentoMadreSolteraId;
                            }
                        } else {
                            document.getElementById("DescuntoMadreSolteraDiv").style.display = "none";
                            $("#DescuentoMadreSoltera").val("");
                            document.getElementById("DescuentoMadreSolteraSpan").textContent = "";
                            $("#RenglonAdicional1").val("");
                        }
                        

                        $("#SubTotal").val(response.success);
                        $("#Total").val(response.totalResul);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Error - ' + errorThrown);
                    }
                });
            });

            var mesAnoInicio = $("#MesAnoInicio").val();

            if (mesAnoInicio != "")
            {
                $("#MesAnoInicio").prop("readonly", true);
            }

            $("#SubTotal").change(function () {

                var SubTotal = $(this).val().replace(/[^0-9\.]/g, '');
                var descuento = $("#Descuento").val().replace(/[^0-9\.]/g, '');
                var descuentoProntoPago = $("#DescuentoProntoPagoTextBox").val().replace(/[^0-9\.]/g, '');
                var descuentoTerceraEdad = $("#DescuentoTerceraEdad").val().replace(/[^0-9\.]/g, '');
                var descuentoMadreSoltera = $("#DescuentoMadreSoltera").val().replace(/[^0-9\.]/g, '');

                $("#Total").val(SubTotal - descuento - descuentoProntoPago - descuentoTerceraEdad - descuentoMadreSoltera);

            });
            $("#DescuentoProntoPagoTextBox").change(function () {

                var SubTotal = $("#SubTotal").val().replace(/[^0-9\.]/g, '');
                var descuento = $("#Descuento").val().replace(/[^0-9\.]/g, '');
                var descuentoProntoPago = $(this).val().replace(/[^0-9\.]/g, '');

                $("#Total").val(SubTotal - descuento - descuentoProntoPago );

            });
            $("#PrecioTomaTextBox").change(function () {
                var precioToma = $(this).val().replace(/[^0-9\.]/g, '');
                var descuento = $("#Descuento").val().replace(/[^0-9\.]/g, '');

                $("#Total").val(Number(precioToma) - descuento);
            });
            $("#GuardarButton").click(function () {
                if ($("#PagoForm").valid()) {
                    BloquearProcesando();
                    window.location = "@Url.Action("GuardarPagoSuministroAgua", "Tomas")?" + $("#PagoForm").serialize();
                }
            });//$("#GuardarButton").click(function () {
            function LimpiarControles() {
                $("#SubTotal").val("");
                $("#Total").val("");
                $("#Descuento").val("");
                $("#Observaciones").val("");
                $("#Adicional").val("");
                $("#RenglonAdicional1").val("");
                $("#DescuentoProntoPagoTextBox").val("");
                $("#DescuentoTerceraEdad").val("");
                $("#DescuentoMadreSoltera").val("");
                document.getElementById("DescuntoProntoPagoDiv").style.display = "none";
                document.getElementById("DescuntoTerceraEdadDiv").style.display = "none";
                document.getElementById("DescuntoMadreSolteraDiv").style.display = "none";
                document.getElementById("DescuentoProntoPagoSpan").textContent = "";
                document.getElementById("DescuentoTerceraEdadSpan").textContent = "";
                document.getElementById("DescuentoMadreSolteraSpan").textContent = "";                         
            }
        });
        
    </script>

}