@using ComiteAgua.ViewModels.Notificaciones
@model NotificacionesViewModel

@{
    ViewBag.Title = "Notificaciones Pagadas";
    ViewBag.UrlRetorno = Url.Action("Index", "Home");
}

<br />

<div class="col-md-6 mr-auto ml-auto">
    <div class="card">
        <div class="card-body">
            @*Fecha Inicio*@
            <div class="form-group row">
                @Html.LabelFor(n => n.FechaPagoInicioFiltro, new { @for = "Fecha", @class = "col-md-4 col-form-label ml-auto" })
                <div class="col-sm-6 mr-auto">
                    @Html.TextBoxFor(m => m.FechaPagoInicioFiltro, new { @class = "form-control input-sm", @type = "date" })
                </div>
            </div>
            @*Fecha Fin*@
            <div class="form-group row">
                @Html.LabelFor(n => n.FechaPagoFinFiltro, new { @for = "FechaFin", @class = "col-md-4 col-form-label ml-auto" })
                <div class="col-sm-6 mr-auto">
                    @Html.TextBoxFor(m => m.FechaPagoFinFiltro, new { @class = "form-control input-sm", @type = "date" })
                </div>
            </div>
            @*Notificadores*@
            <div class="form-group row">
                @Html.LabelFor(n => n.NotificacionId, new { @for = "NotificacionId", @class = "col-md-4 col-form-label ml-auto" })
                <div class="col-sm-6 mr-auto">
                    @Html.DropDownListFor(m => m.NotificacionId, new SelectList(Model.Notificadores, "UsuarioId", "Nombre"), "Seleccione una opción", new { @class = "form-control input-sm" })
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <div class="row justify-content-center">
                <div class="col-4">
                    <button id="BuscarButton" type="button" class="btn btn-success">Buscar</button>
                </div>
                <div class="col-4">
                    <button id="LimpiarButton" type="button" class="btn btn-primary">Limpiar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div id="Notificaciones"></div>

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#BuscarButton").click(function () {
                var fechaInicio = $("#FechaPagoInicioFiltro").val();
                var fechaFin = $("#FechaPagoFinFiltro").val();
                var notificadorId = $("#NotificacionId").val();

                $.ajax({
                    type: 'get',
                    cache: false,
                    url: '@Url.Action("_NotificacionesPagadas", "Notificaciones")',
                    data: { fechaInicio: fechaInicio, fechaFin: fechaFin, notificadorId: notificadorId },
                    success: function (data) {
                        $("#Notificaciones").html(data)
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Error - ' + errorThrown);
                    }
                });
            });

            $("#LimpiarButton").click(function () {
                $("#FechaPagoInicioFiltro").val("");
                $("#FechaPagoFinFiltro").val("");
                $("#Notificaciones").html("")
                $('#NotificacionId').get(0).selectedIndex = 0;
            });

        });
    </script>
}

